@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

/* 

font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

yellow:         #ffbb00
light-grey:     #8a8a8a
dark-grey:      #333333
blue:           #1487fd

*/

body {
    font-family: 'Roboto', sans-serif;   
    font-weight: 400;
    color: #333333;

    background-image: url("images/bg-top.png");
    background-repeat: no-repeat;
    background-size: cover;

}